<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-2">
        <a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='images/logo_fdr.svg') }}" width="160" height="67" class="img-fluid"></a>
      </div>
      <div class="col-lg-6">
        <div class="footer-info">
          <p class="fw-light">Plataforma voltada para levar assuntos relacionados a economia popular da forma que deve ser: simples, ágil e confiável.</p>
          <a href="https://adseleto.com/?utm_source=fdr.com.br&amp;utm_medium=footer" rel="sponsored" target="_blank" class="me-0">Publicidade programática</a>
          <span>powered by ✦ </span>
          <a href="https://adseleto.com/?utm_source=fdr.com.br&amp;utm_medium=footer" rel="sponsored" target="_blank">AdSeleto</a>
          <p class="my-4 fw-bold">FDR®, ECONOMIA SIMPLIFICADA</p>
          <a href="https://fdr.com.br/sobre/">Sobre nós</a>
          <a rel="privacy-policy" href="https://fdr.com.br/politica-de-privacidade/">Privacidade</a>
          <a href="https://fdr.com.br/contato/">Contato</a>
          <a href="https://fdr.com.br/esforcos-filantropicos-do-site-economico-fdr-gridmidia/">Esforços filantrópicos</a>
          <a href="https://fdr.com.br/o-site-fdr-e-confiavel-e-seguro/">O site FDR é confiável?</a>
          <a href="https://gridmidia.com/trabalhe-conosco/">Trabalhe Conosco</a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="footer-disclaimer">
          <p class="fst-italic fw-light">FDR® - Todos os textos são de propriedade intelectual deste site. Reprodução não permitida.</p>
          <p class="fst-italic fw-light">FDR não realiza transações financeiras de nenhuma monta ou tipo. O site atua como veículo de informação, provendo conteúdo informativo e relevante para a população em geral, muitas vezes marginalizada pelos serviços bancários e grandes corporações. As informações aqui publicadas são idôneas e independentes.</p>
        </div>
      </div>
    </div>
  </div>      
</footer>
<div class="container">
  <div class="footer-credits">
    <p class="mb-0">FDR® é uma marca registrada, mantida e pertencente a Gridmidia</p>
    <img src="{{ url_for('static', filename='images/logo_fabio_lobo.svg') }}" width="24" height="24" alt="logo Fábio Lobo">
  </div>
</div>